{{!-- {{handlebars sintakse duomenims is sukurto masyvo atvaizduoti}} --}} 

<ul>
   {{#each data}}
   <li>
        <details>
            <summary>{{this.productLine}}</summary>
            <p>{{this.textDescription}}</p>
        </details>
    </li>
   {{/each}}
</ul>