{{#with model}}

<div id="title-container">
   <h1>
      {{title}}
   </h1>
</div>

<hr/>
<main>
   <form>
      <div class="input">    
         <input type="text" id="input-a"/>  
         <label for="input-a">Your Text here! </label>
      </div>
     
         <button type="submit">Save</button>
   </form>

   <section>
      {{#each notes}}
      <div>
         <span>Example note text</span>
      </div>
      <div>
         <span>{{this}}</span>
      </div>
      {{/each}}
   </section>
</main>

{{/with}}