{{#with model}}

<div id="title-container">
   <h1>
      {{title}}
   </h1>
</div>

<hr/>
<main>
   <form method="post">
      <div class="input">    
         <input type="text" id="input-a" name="note"/>  
         <label for="input-a">Your Text here! </label>
      </div>
     
         <button type="submit">Save</button>
   </form>

   <section>
      {{#each notes}}
      <div class="note">
         <span>{{this.note}}</span>
         <div class="buttons">
            <button onclick="deleteNote({{this.noteId}})">
               <i class="fa-light fa-trash-can"></i>
            </button>
            <button>
               <i class="fa-thin fa-pencil"></i>
            </button>
         </div>
      </div>
      <div>
         <span>{{this}}</span>
      </div>
      {{/each}}
   </section>
</main>

{{/with}}