<h1>
   {{model.title}}
</h1>
<hr>
<main>
   <form>
      <div class="input">    
      <input type="text" id="input-a"/>  
      <label for="input-a"> Text here! </label>
      </div>
     
      <button type="submit">Save</button>
   </form>
   <section>
      <div>
         <span>Example note text</span>
      </div>
   </section>
</main>