@import url(https://fonts.googleapis.com/css?family=Lato:300);
:root {
   --dark: #1F2937;
   --gray: #6B7280;
   --pink: #EC4899;
}

* {
   margin: 0;
   font-family: Lato;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-image: linear-gradient(to bottom right, #240000, #095779, #00d4ff );
}

header {
   padding: 2rem 1rem;
   max-width: 800px;
   width: 100%;
   margin: 0 auto;
}

h1 {
   font-size: 2rem 1rem;
   font-weight: 300;
   color: var(--gray);
   margin: 2rem;
}

hr {
   border-width: 0;
   border: solid 1px var(--pink);
   margin-bottom: 2rem;
}

form {
   display: flex;
}

.input{
   width: 600px;
   margin: 0 auto;
   font-size: 1.4em;
}  
   input{    
     width: 600px;
     height: 80px;  
     margin-top: 50px;
     font-family: Lato;
     font-size: 1.5em;    
     background-color: transparent;
     border: none;
     border-top: 3px solid #4EA5D9;    
     border-bottom: 3px solid #4EA5D9;
     outline: none;
     color: #4EA5D9;
     padding-left: 10px;  
   }    
     input:focus + label {
       top: -130px;
       font-size: 1.2em;
       transition: all .3s;
     }

  
   label{
     display: block;
     position: relative;
     left: 10px;
     top: -70px;
     font-size: 1.8em;
     cursor: text;
     color: #44CFCB;    
     transition: all .3s;    
   }

.save-button {
   color: var(--pink);
   font-size: 1.8em;
   margin: auto;
   cursor: pointer;
   transition: 0.4s;
   border: none;
   background-color: transparent;
}

.save-button:hover {
   opacity: 0.8;
}

main {
   flex: 1 1 0%;
   padding: 2rem 1rem;
   max-width: 800px;
   width: 100%;
   margin: 0 auto;
}

section>div {
   display: flex;
   justify-content: space-between;
   flex: 1 1 0%;
   background-color: var(--dark);
   padding: 1rem;
   border-radius: 1rem;
   margin: 1rem 2rem;
   color: var(--light);
   border: solid 1px var(--gray)
}
span {
   color: var(--gray);;
}

button {
   background-color: transparent;
   color: var(--pink);
   border: none;
}

.note-text[contenteditable="true"] {
   color: #44CFCB;
}
.hidden {
   display: none !important;
}